.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../../assets/BG-home_IMG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: stretch;
}

.header > .container {
    height: 100%;
    flex: 1;
    width: 100%;
}
.header-title {
    font-size: 28px;
    line-height: 1.4;
    margin-top: 1.8rem;
    max-width: 600px;
}